{% extends "base.html" %}
{% load static %}

{% block title %}NFT{% endblock %}

{% block content %}

    <header>
        <div class="logo">
            <div class="logo__text"><p>NFT</p></div>
        </div>
    </header>

    <div class="container">
      {% for nft in nfts %}
        <a href="{{ nft.get_absolute_url }}">
            <div class="nft_obj">
                <img src="{{ nft.image.url }}">
                <p>{{ nft.name }}</p>
            </div>
        </a>
      {% endfor %}
    </div>
{% endblock %}